@model IEnumerable<OpdrachtFrameworks.Models.Klant>

@{
    ViewData["Title"] = "Index";
}

<h1>Klanten</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <form asp-action="Index" asp-controller="Klants" method="get">
        Selecteer: 
        <input type="text" name="searchField" />
        <input type="submit" name="Filter" text="Search"/>

    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.straat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.huisnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.straat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.huisnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
